
.App {
    margin: 0 auto;
    display: grid;
    width:100%;
    grid-template-areas:
  "s s s s n"
  "s t t t n";
  "s s s s n "
    grid-gap: 5px;
}
.skill{
    grid-area: s;
    background: goldenrod;
    height: 75px;
}
.activeClass{
color: lime;
}
.tasks{
    grid-area: t;

}
.link{

}

.header{
display: flex;
    width: 200px;
    transition-duration: 500ms;
    transform: translate(-225px);
}
.header:hover{
    transition-duration: 500ms;
    transform: translate(0px);
}
.error{
    font-size: 20px;
    color: black;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0; left: 0;
    right: 0;
   background: beige;
    justify-content:center;
align-items: center;
}